.navbar{
    height: 100px;
    background: #1b1d43 !important;
    border: none !important;
}
.navbar-brand{
    color: #fff !important;
    font-size: 30px !important;
    position: absolute !important;
    top: 10px !important;
}
.custom{
    padding-top: 30px !important;
}
.container.custom{
    background: #fff !important;
    padding: 10px;
    box-shadow: 1px 2px 3px #ccc !important;
    position: relative !important;
    top: -50px !important;
}

.temp{
    padding: 15px;
    background: #f5f5f5;
}
.temp-header, .psi-header {
    font-weight: bold;
    padding-bottom: 5px;
}
.temp-body {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 10px 0 10px 0;
}

.psi{
    padding: 15px;
}
.psi-body {
    border-top: 2px solid #ccc;
    padding: 10px 0 10px 0;
}

.labelText{
    font-size: 12px;
}
.labelText.head{
    font-weight: bold;
}

#psiTable th {
    border-top: none !important;
    font-size: 12px !important;
}
#psiTable td {
    font-size: 12px !important;
    background: #f5f5f5;
}
.tblContent{
    border: 1px solid #c1c1c1
}

main{
    margin-bottom: 60px;
}

footer{
    background: #333333;
    height: 60px;
    position: absolute;
    bottom: -60px !important;
    font-size: 10px;
    left: 0;
    width: 100%;
}
.footerText{
    display: inline-block;
    padding-top: 0.82rem;
    padding-bottom: 0.82rem;
    margin-right: 1rem;
    font-size: 10px;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
}